@import "../../../styles/colors";

.axis {
  background-color: white;
  border-bottom: 0.075rem solid $border-color;


  &__item-wrapper {
    border-radius: 0.25rem;
    border: 0.075rem solid $border-color;
    background-color: white;
    height: 2.5rem;
    margin: 0.5rem;
    display: flex;

    &__label {
      width: 5.5rem;
      height: 100%;
      background-color: $gray-color-light;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      text-transform: capitalize;
      color: #004261;

      div {
        padding-left: 0.5rem;
        font-weight: 600;
        font-size: 0.75rem;
      }
    }
  }
}