@import "../../../styles/colors";

.field--popover {
  .ant-popover-arrow {
    display: none !important;
  }

  .ant-popover-content {
    margin-top: -0.65rem !important;
  }
}


%item {
  border: 1px solid;
  padding: 0 0.25rem;
  white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  text-transform: capitalize;
  line-height: 1.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  height: 100%;
  color: #004261;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;

  &__popup {
    padding-right: 0.25rem;
  }

  &__remove {
    padding-left: 0.25rem;
  }
}

%item-icon {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  border: 1px solid;
  padding: 0 0.25rem;
  background-color: $success-light-color;
  border-color: $success-color;
  border-right: none;
  display: flex;
  align-items: center;
  color: white;
}

%label {
  max-width: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field {
  height: 1.75rem;
  display: flex;
  max-width: 10rem;

  &__icon--temporal {
    @extend %item-icon;
    background-color: $success-color;
    border-color: $success-color;
  }

  &__temporal {
    @extend %item;
    background-color: $success-light-color;
    border-color: $success-color;

    &__label {
      @extend %label;
    }

    &__popup {
      padding-right: 0.25rem;
    }

    &__remove {
      padding-left: 0.25rem;
    }
  }

  &__quantitative {
    @extend %item;
    background-color: $primary-color-light;
    border-color: $primary-color;

    &__label {
      @extend %label;
    }

    &__popup {
      padding-right: 0.25rem;
    }

  }


  &__icon--quantitative {
    @extend %item-icon;
    background-color: $primary-color;
    border-color: $primary-color;

  }

  &__ordinal {
    @extend %item;
    background-color: $warning-light-color;
    border-color: $warning-color;

    &__label {
      @extend %label;
    }

    &__popup {
      padding-right: 0.25rem;
    }

  }


  &__icon--ordinal {
    @extend %item-icon;
    background-color: $warning-color;
    border-color: $warning-color;
  }

  &__nominal {
    @extend %item;
    background-color: $error-light-color;
    border-color: $error-color;

    &__label {
      @extend %label;
    }

    &__popup {
      padding-right: 0.25rem;
    }

  }


  &__icon--nominal {
    @extend %item-icon;
    background-color: $error-color;
    border-color: $error-color;
  }
}