@import "src/styles/colors";

.navigation {
  height: 100%;
  background-color: rgb(0, 160, 233);

  ul {
    padding: 1rem;
    margin: 0;

    li {
      list-style-type: none;
      margin-top: 1rem;
      text-align: center;
      cursor: default;
      user-select: none;

      a {
        color: white;
        font-size: 2rem;
      }
    }
  }
}