@import '~antd/dist/antd.css';
@import "styles/colors";
// @import "~font-awesome/css/font-awesome.min.css";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;

}

.react-tabs {
  .tab {
    margin: 0;
    padding: 0;
    border-bottom: none;
    background-color: $gray-color-light;
  }
  .tab-item {
    height: 1.8rem;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: $gray-color;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .react-tabs__tab--selected {
    background-color: $gray-color-light;
    //border-bottom: 0.2rem solid $primary-color;
    color: $primary-color-dark;
  }
}

.SplitPane {
  position: relative !important;
  .Resizer {
    background: #000;
    opacity: .1;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .Resizer.horizontal {
    height: 0.75rem;
    margin: -5px 0;
    border-top: 5px solid $border-color;
    border-bottom: 5px solid $border-color;
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 0.75rem;
    margin: 0 -5px;
    border-left: 5px solid $border-color;
    border-right: 5px solid $border-color;
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}

.placeholder-text {
  font-size: 0.85rem;
  color: $gray-color;
  font-style: italic;
  padding: 0.5rem;
}

.placeholder-text::after {
  content: '...';
}